*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/fotophish.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 60px;   
}

input{
  outline: 0;
  background-color: white;
  width: 100%;  
  border: 0;
  margin:0 0 15px ;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.btn{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: grey;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor:pointer;
}

.btn:hover{
    background-color: black;
    color: white;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index:1 ;
    background: white;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
}

.form-group h1 {
    font-size: 20px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    
}